# Exercises: Working with Databases in Python

For the exercises, we will be practicing the steps outlined in this [article](https://towardsdatascience.com/do-you-know-python-has-a-built-in-database-d553989c87bd). You can skip the portion where the author downloads a separate SQL client to examine the database.

## Import Libraries

We will need `pandas` and `sqlite3`. SQLite is a small, self-contained database engine that comes with Python so you will not have to do any additional installations for this lesson. If you want to connect to a different database engine, such as SQL server, you may need additional libraries such as `sqlalchemy` or `pyodbc` and a tool called a driver which helps to connect a database to an application.

In [5]:
'C:\\Users\\Johns\\anaconda3\\pkgs'

'C:\\Users\\Johns\\anaconda3\\pkgs'

In [6]:
pip install pandas

Collecting pandasNote: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 21.1.1; however, version 22.3.1 is available.
You should consider upgrading via the 'C:\Users\johns\azuredatastudio-python\python.exe -m pip install --upgrade pip' command.

  Downloading pandas-1.5.2-cp38-cp38-win_amd64.whl (11.0 MB)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\johns\appdata\roaming\python\python38\site-packages (from pandas) (2.8.2)
Collecting pytz>=2020.1
  Downloading pytz-2022.7.1-py2.py3-none-any.whl (499 kB)
Collecting numpy>=1.20.3
  Downloading numpy-1.24.1-cp38-cp38-win_amd64.whl (14.9 MB)
Requirement already satisfied: six>=1.5 in c:\users\johns\appdata\roaming\python\python38\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Installing collected packages: pytz, numpy, pandas
Successfully installed numpy-1.24.1 pandas-1.5.2 pytz-2022.7.1

In [4]:
import sqlite3 as sl 
import pandas as pd

## Create a Database

In the article, the author shows how to use `sqlite3` to open a connection to an existing database or create a new one. Use this method to make a new database called `exercises.db`.

In [6]:
# Create a new database called exercises.db.
con = sl.connect('exercises.db')

## Create a Table

Follow the steps in the article to create a table called `favorite_books.db`. This table should include columns for the title, author, and a short description of why it is a favorite.

In [19]:
# Create a new table in your database.
with con:
    con.execute("""
        CREATE TABLE favorite_books (
            title TEXT NOT NULL PRIMARY KEY,
            author TEXT,
            description TEXT
        );
    """)

## Insert Records

Add 3 entries to your table for your top 3 favorite books.

In [20]:
# Add your 3 favorite books to your table.
sql = 'INSERT INTO favorite_books (title, author, description) values(?, ?, ?)'
data = [
    ('Harry Potter and the Sorcerers Stone', 'J. K. Rowling', 'Young boy finds out he is a wizard and is used by everyone in the wizarding community.'),
    ('The Hunger Games', ' Suzanne Collins', 'Distopian novel following a young girl and young boy that fight to the death for thier districts'),
    ('The Giver', ' Lois Lowry,', 'Young boy learns his utopian society is actually distopian')
]

con.executemany(sql, data)

## Query Your Table

Write a `SELECT` query to output the 3 records in your table.

In [21]:
# Write your SELECT query here.
data = con.execute("SELECT * FROM favorite_books")
for row in data:
    print(row)

('Harry Potter and the Sorcerers Stone', 'J. K. Rowling', 'Young boy finds out he is a wizard and is used by everyone in the wizarding community.')
('The Hunger Games', ' Suzanne Collins', 'Distopian novel following a young girl and young boy that fight to the death for thier districts')
('The Giver', ' Lois Lowry,', 'Young boy learns his utopian society is actually distopian')

## Create a New Table with Pandas

Create a new table called `favorite_movies` with your top 3 favorite movies. Each movie should have an id and a title. This time, use Pandas to first make a dataframe and then write the dataframe to SQL. Write a `SELECT` query to confirm that the new table does have your top 3 favorite movies.

In [14]:
# Use Pandas to make a new table in your database.
fav_movies_df = pd.DataFrame({
    'id': [1,2,3],
    'title': ['The Secret Window', 'Mad God', 'Harry Potter and the Sorcerers Stone']
})

fav_movies_df.to_sql('favorite_movies', con)


data = con.execute("SELECT * FROM favorite_movies")
for row in data:
    print(row)

(0, 1, 'The Secret Window')
(1, 2, 'Mad God')
(2, 3, 'Harry Potter and the Sorcerers Stone')